h1{
    color: purple;
    font-size: 18px;
    text-align: center;
    font-family: cursive;
}
h2{
    color: purple;
    font-size: 18px;
    text-align: center;
    font-family: cursive;

}
h3{
    color: purple;
    font-size: 18px;
    text-align: center;
    font-family: cursive;

}